extends layout

block content
    main(role='main')
        .jumbotron
            .container
                h1.display-3 Concert Venue
                p
                    | View our wide range of exciting events! There's always something happening, make sure you don't miss out!
                p
                    a.btn.btn-primary.btn-lg(href='/concerts/upcomingEvents', role='button') Upcoming Events »
        .container
            h3 Basic Navbar Example
            p A navigation bar is a navigation header that is placed at the top of the page.
